<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>          
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li>          
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li>            
                    <a class="nav-link" routerLink="/projects">Projects</a>
                </li>
                <li>            
                    <a class="nav-link" routerLink="/blog">Blog</a>
                </li>        
                <li>            
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>  
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://www.facebook.com/erin.arney.9"><i class="fa fa-facebook" style="color: white"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/unvei1ed_ONE"><i class="fa fa-twitter" style="color: white"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/nzuro_amani/"><i class="fa fa-instagram" style="color: white"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/erin-arney-15242182/"><i class="fa fa-linkedin" style="color: white"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
