<section id="full-blog" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text animated zoomInRight"><strong>{{ post.title }}</strong></h1>
                <hr>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Share
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a (click)="share('FACEBOOK')">Facebook</a></li>
                      <li><a (click)="share('TWITTER')">Twitter</a></li>
                      <li><a (click)="share('LINKEDIN')">LinkedIn</a></li>
                      <li><a (click)="share('GOOGLE+')">Google+</a></li>
                    </ul>
                </div>
                <hr>
                <p class="animated zoomInRight"><i class="fa fa-clock-o"></i> {{ post.published | date:'short' }}</p>
                <p [innerHTML]="post.content"></p> 
            </div>
        </div>
        <br>
    </div>
  </section>