<footer class="footer">
    <div class="container">
        <p class="text-center">
            <a href="https://www.facebook.com/erin.arney.9"><i class="fa fa-facebook" style="color: white"></i> Facebook</a>
            &nbsp; &nbsp; | &nbsp; &nbsp; <a href="https://twitter.com/unvei1ed_ONE"><i class="fa fa-twitter" style="color: white"></i> Twitter</a>
            &nbsp; &nbsp; | &nbsp; &nbsp; <a href="https://www.instagram.com/nzuro_amani/"><i class="fa fa-instagram" style="color: white"></i> Instagram</a>
            &nbsp; &nbsp; | &nbsp; &nbsp; <a href="https://www.linkedin.com/in/erin-arney-15242182/"><i class="fa fa-linkedin" style="color: white"></i> LinkedIn</a>
        </p>
    </div>
</footer>