<div class="container">
        <div class="jumbotron">
            <h1 class="animated slideInLeft">Projects</h1>
            <hr>
            <p>“Truth is that which does not contaminate you, but empowers you… truth is that which can do no harm.”- Gary Zukav. Here are just a few of the ways that I express my truth.</p>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <fa [name]="'rocket'" [size]=5 [border]=true></fa>
                <h1>Poetry</h1>
                <p>My words are my somber place.</p>
            </div>
            <div class="col-sm-4 text-center">Two</div>
            <div class="col-sm-4 text-center">Three</div>
        </div>
    </div> 
    