@import '~sass/variables';
@import '~sass/mixins';

.title {
    color: white;
}

.subTitle {
    color: white
}

.jumbotron {
    background: $primaryColorLight !important;
}

/* Line between left and right side of contact page. */
.form-line {
    border-right: 1px solid lightgray;
}