<div class="container">
    <h1 class="text-center animated slideInDown">About</h1>
    <hr>
    <div class="row animated slideInRight">
        <div class="col-lg-6">
            <img class="img-fluid rounded-circle pull-right" src="https://scontent-ort2-2.cdninstagram.com/vp/43a3dc078aa94f6957fe6ffe8c9e0b55/5B4879FD/t51.2885-15/s640x640/sh0.08/e35/26864202_955235204624708_2137748043766693888_n.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h1>Choice, happy, healthy and compassion.</h1>
            <h3>Hi, I'm Erin</h3>
            <p>My life has been about perseverance in pursuit of purpose. I am a cancer survivor, a student, and a writer. 
                    I am discovering new roles everyday and using Black Girl Magic to tackle whatever comes my way</p>
                    <p>I live with a sense of integrity, humility, knowledge, and compassion. These guiding principles have lead me to become an agent of change in the field of healthcare. 
                            I believe that my mission is to strengthen communities, and improve health by increasing access. As a social justice advocate I know that diversity is an essential 
                            component of a healthy community. As both a Naturopathic Doctoral student and a Masters in Counseling Psychology student I am learning to use tools that can help 
                            transform the health of the human community. I hope that by sharing my journey I can provide information to those most affected by health disparities.</p>
        </div>
    </div>
    <hr>
    <div class="row animated slideInLeft">
        <div class="col-lg-6 text-right">
                <h1>May we be happy, may we be healthy, may we be filled with compassion.</h1>
                <h3>Naturopathic Medicine</h3>
                <p>The American Association of Naturopathic Physicians (AANP) defines Naturopathic Medicine as, “A distinct primary health care profession, emphasizing prevention, treatment, and optimal health through the use of therapeutic methods and substances that encourage individuals’ inherent self-healing process.  The practice of naturopathic medicine includes modern and traditional, scientific, and empirical methods.”</p>
                <p>As a Naturopathic Doctoral Student, I am training to provide primary healthcare to patients seeking personalized treatment. As an expert in wellness and prevention, I focus on treating the whole person by using the most natural methods possible to help them achieve their health goals.</p>           
        </div>
        <div class="col-lg-6 order-lg-2">
            <img class="img-fluid rounded-circle pull-left" src="https://scontent-ort2-2.cdninstagram.com/vp/5bf23fb610be24d57ccefcd495ce61e5/5B436DF9/t51.2885-15/e35/25017041_1806938349317375_6688222772407042048_n.jpg" alt="">
        </div>
    </div>
</div>

