@import '~sass/variables';
@import '~sass/mixins';

.title {
    color: white;
}

.subTitle {
    color: white
}

.jumbotron {
    background: $primaryColorLight !important;
}

.rounded-circle{
    border-radius: 50% !important;
}

h1 { @include h1; }
p { @include p; }